/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// .foo {
//   color: tint($colorBrightOne, 42%);
// }


$colorBlack: #000;
$colorBlackAlmost: #3a3a3a;
$colorBrightTwo: #ea1b8f;
$colorBrightTwo-lighter: tint($colorBrightTwo, 60%);
$colorBrightTwo-darker: shade($colorBrightTwo, 30%);
$colorWhite: #fff;
$colorGray: #404040;

$color__background-header: $colorWhite;
$color__background-body: $colorWhite;
$color__text-main: $colorBlackAlmost;
$color__background-footer: $colorWhite;

// link in text
$color__link: $colorBrightTwo;
$color__link-visited: $colorBlackAlmost;
$color__link-hover: $colorBrightTwo;

// link in menu
$color__menu-link: $colorBlackAlmost;
$color__menu-link-hover: $colorBrightTwo;
$color__menu-link-focus: $colorBrightTwo;

// buttons
$color__text-button: $colorWhite;
$color__text-button-hover: $colorWhite;
$color__text-button-focus: $colorWhite;
$color__background-button: $colorBrightTwo;
$color__background-button-hover: $colorBlack;
$color__background-button-focus: $colorBlack;
$color__border-button: $colorBrightTwo;
$color__border-button-hover: $colorBlack;
$color__border-button-focus: $colorBlack;
