@media (max-width: 1400px) {

}

// 1280 container needs padding when other elements are maxed
@media (max-width: 1360px) {
  .separate-containers .inside-article {
    max-width: 100%;
    padding: 40px;
  }
}

@media (max-width: 1024px) {

/* White hover captions */
  .link-to-project-cap {
    opacity: 1;
    top: auto;
  }

}

@media (max-width: 768px) {

  .link-to-project,
  .theme-default .nivo-controlNav.nivo-thumbs-enabled a.nivo-control {
    flex-basis: 49%;
  }
  .link-to-project:nth-child(3n) {
      margin-right: 2%;
  }
  .link-to-project:nth-child(2n) {
      margin-right: 0;
  }


}

@media (max-width: 600px) {

  .link-to-project,
  .theme-default .nivo-controlNav.nivo-thumbs-enabled a.nivo-control {
    flex-basis: 100%;
    margin-right: 0;
  }
  .link-to-project:nth-child(3n) {
      margin-right: 0;
  }

}

@media (max-width: 440px) {

}

// GeneratePress breakpoints
// @media (max-width: 768px) {
    /* CSS in here for mobile only */
// }
// @media (min-width: 769px) and (max-width: 1024px) {
    /* CSS in here for tablet only */
// }
// @media (min-width: 1025px) {
    /* CSS in here for desktop only */
// }
