@media (max-width: 1400px) {

}

// 1280 container needs padding when other elements are maxed
@media (max-width: 1360px) {
  .inside-header {
    max-width: 100%;
    padding: 40px;
  }
  .separate-containers .inside-article {
    max-width: 100%;
    padding: 40px;
  }
  // .page-id-267 .inside-article,  // about
  // .page-id-269 .inside-article,  // services
  .page-id-275 .inside-article { // contact
    padding: 0;
  }
  .post-type-archive-testimonials .inside-article {  // testimonials
    padding: 0;
    margin: 0;

  }

  // .post-type-archive-testimonials .inside-article,  // testimonials
  .page-id-275 #page { // contact page
      // padding: 0 24px;
  }
}

@media (max-width: 1024px) {

/* White hover captions */
  .link-to-project-cap {
    opacity: 1;
    top: auto;
  }

}

@media (max-width: 768px) {

  .site-logo {
    display: block;
  }
  .header-image {
    width: 130px;
  }
  .nav-float-right .inside-header .main-navigation {
    float: none;
    clear: both;
    margin-top: -10px;
  }
  .inside-header {
    max-width: 100%;
    padding: 40px 40px 0;
  }
  h1 {
    @include font-size(36);
  }

  .link-to-project,
  .theme-default .nivo-controlNav.nivo-thumbs-enabled a.nivo-control {
    flex-basis: 49%;
  }
  .link-to-project:nth-child(3n) {
      margin-right: 2%;
  }
  .link-to-project:nth-child(2n) {
      margin-right: 0;
  }

  blockquote.entry-content {
    padding: 10px 20px;
    font-size: 1em;
  }
  .post-type-archive-testimonials h1 {
      padding: 0 20px;
      text-align: left;
  }


}

@media (max-width: 600px) {

  .link-to-project,
  .theme-default .nivo-controlNav.nivo-thumbs-enabled a.nivo-control {
    flex-basis: 100%;
    margin-right: 0;
  }
  .link-to-project:nth-child(3n) {
      margin-right: 0;
  }

}

@media (max-width: 440px) {

}

// GeneratePress breakpoints
// @media (max-width: 768px) {
    /* CSS in here for mobile only */
// }
// @media (min-width: 769px) and (max-width: 1024px) {
    /* CSS in here for tablet only */
// }
// @media (min-width: 1025px) {
    /* CSS in here for desktop only */
// }
