/*--------------------
>>> TABLE OF CONTENTS:
----------------------*/

/****** HEADER     ******/
/****** FRONT-PAGE ******/
/****** FOOTER     ******/
/****** ALL PAGES  ******/

/*--------------------*/

body {
  background-color: $color__background-body;
}

h1 {
  text-align: right;
}

.separate-containers .inside-article {
  color: $color__text-main;
  padding: 0;
}

blockquote.entry-content {
    border-left: none;
    padding: 20px;
    font-size: 1.2em;
    font-style: normal;
    position: relative;
    margin-top: 0;
}

/****** NAVIGATION ******/
.main-navigation .main-nav ul li a,
.main-navigation .main-nav ul li[class*="current-menu-"] > a {
    color: $color__menu-link;
    background-color: $color__background-header;
    text-transform: uppercase;
}

.main-navigation .main-nav ul li a:hover,
.main-navigation .main-nav ul li[class*="current-menu-"] > a,
.main-navigation .main-nav ul li[class*="current-menu-"] > a:hover {
    background-color: $color__background-header;
    color: $color__menu-link-hover;
}

/****** HEADER ******/

#masthead {
    z-index: 9999;
}

/****** FRONT-PAGE ******/


/****** CONTACT PAGE ******/


/****** ALL PAGES ******/

/* White hover captions */
.links-to-projects,
.theme-default .nivo-controlNav.nivo-thumbs-enabled {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: center;
}

.link-to-project,
.theme-default .nivo-controlNav.nivo-thumbs-enabled a.nivo-control {
  flex-basis: 32%;
  position: relative;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 0;
}

.link-to-project:nth-child(3n),
.theme-default .nivo-controlNav.nivo-thumbs-enabled a.nivo-control:nth-child(3n) {
    margin-right: 0;
}

.link-to-project-img,
.link-to-project img,
.nivo-control img {
    display: block;
    width: 100%;
}

.link-to-project-cap {
  background: rgba(255,255,255,0.8);
  color: #000;
  display: flex;
  min-height: 26px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: all .25s ease-in-out;
}

.link-to-project-cap:hover {
  opacity: 1;
}

.link-to-project-cap p {
  line-height: 1;
  margin-bottom: 0;
}

/***** PROJECT PAGES *****/
// hide featured image in favor of slider
.parent-pageid-196 .page-header-image {
  display: none;
}
