/*--------------------
>>> TABLE OF CONTENTS:
----------------------*/

/****** HEADER     ******/
/****** FRONT-PAGE ******/
/****** FOOTER     ******/
/****** ALL PAGES  ******/

/*--------------------*/

body {
  color: violet;
  background-color: $color__background-body;
}

.separate-containers .inside-article {
  color: $color__text-main;
}

/****** HEADER ******/

#masthead {
    z-index: 9999;
}

/****** FRONT-PAGE ******/


/****** CONTACT PAGE ******/


/****** ALL PAGES ******/

/* White hover captions */
.links-to-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link-to-project {
  flex-basis: 32%;
  position: relative;
  // flex-grow: 1;
}

.link-to-project-cap {
  background: rgba(255,255,255,0.8);
  color: #000;
  display: flex;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.link-to-project-cap:hover {
  opacity: 1;
}

.link-to-project-cap p {
    margin-bottom: 0;
}
