// font-family: AvenirLTStd-Light;
// font-weight: normal;
// font-style: normal;

$font__display: "Prata",sans-serif;
$font__text: "AvenirLTStd-Light",sans-serif;

@mixin display-semi {
  font-family: $font__display;
  font-weight: normal;
}
@mixin display-regular {
  font-family: $font__display;
  // font-style: normal;
  font-weight: normal;
}

// p {
//   @include display-regular;
// }

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// p {
//   @include font-size(13);
// }

/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
  font-family: AvenirLTStd-Light;
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 18px;
}

strong {
  font-family: "Scotch Text Semi Bold",sans-serif;
}
